<div style="display:flex;flex-direction:column">
  <a {{action "navigate" "help-menu"}} style="padding:1rem;color:blue">Help</a>
  <a {{action "navigate" "links-menu"}} style="padding:1rem;color:blue">Links</a>
  <a {{action "navigate" "super-menu"}} style="padding:1rem;color:blue">Super</a>
  <a {{action "navigate" "support-menu"}} style="padding:1rem;color:blue">Support</a>
</div>
